.timeStmpClr {
    color: #aba8a8;
    font-size: 0.8rem;
}

.submitStatsClr {
    color: #aba8a8;
}

.statsFont {
    font-size: 0.7rem;
    color: #1a1616 !important;
}

.marginBegin {}

.tinyMarginTop {
    margin-top: 0.3rem;
}

.stateClr {
    color: #666666de;
    font-size: 0.8rem;
}

.cl_dpScroll.sapFDynamicPage {
    position: absolute
}

.fontSmall {
    font-size: 0.7rem;
}

.supplToolbar {
    background: #fafafa !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.supplToolbarCol {
    background: #fafafa !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.headerColor.sapMLabel {
    color: white;
}

.statsClr {
    font-size: 0.7rem;
}

.statsPending {
    color: #e9730c !important;
}

.statsApprove {
    color: green !important;
}

.statsReject {
    color: #ff0000 !important;
}

[data-apprColor="sent"] {
    color: blue;
}

[data-apprColor="reject"] {
    color: red;
}

[data-apprColor="accept"] {
    color: green;
}

[data-apprColor="pending"] {
    color: #e9730c;
}

/*.sapMPanelContent {*/
/*    padding: 0.625rem 1rem 1.375rem 1rem;*/
/*    box-sizing: border-box;*/
/*    overflow: scroll;*/
/*    white-space: normal;*/
/*}*/

/*.sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {*/
/*    position: initial;*/
/*    padding: 1rem 3rem;*/
/*    box-shadow: 0 0.125rem 0 0 #eff4f9, inset 0 -0.125rem 0 0 #d1e0ee;*/
/*}*/