/*.start...of....Home........*/

@font-face {
    font-family: 'EY Interstate';
    src: url('../fonts/EYInterstate-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
.sapUiBody {
    font-family: 'EY Interstate', sans-serif !important;
    /*    zoom: 0.70;*/
}

.hideScroll>section {
    overflow-y: hidden !important;
}

.hidePageScroll>section {
    scrollbar-width: none !important;
}

.sapMText,
.sapMLabel,
.sapMLnk,
.sapMObjStatusText,
.sapMDialogTitle,
.sapMInputBaseInner,
.sapMTitle,
.badgeLabel,
.sapMBtnInner {
    font-family: 'EY Interstate', sans-serif !important;
}

[data-authtoken="Active"],
[data-authtoken="A"] {
    color: #00ff00;
    cursor: initial;
}

[data-authtoken="Inactive"],
[data-authtoken="I"] {
    color: #ff0000;
    cursor: pointer;
}

[data-tableno="A"],
[data-tableno="B"],
[data-tableno="C=A-B"],
[data-rowStyle="Bold"] {
    font-weight: bold !important;
}

[data-state="Filed"] {
    color: #2b7c2b !important;
}

[data-state="Not Filed"] {
    color: #b00 !important;
}

.sapMITBFilter .sapMITBText,
.sapMITBTab {
    white-space: initial;
    width: 7rem
}

.clITB .sapMITBFilterIcon {
    height: 2.8rem !important;
    width: 2.8rem !important;
}

.clITB>.sapMITH .sapMITBFilter .sapMITBText {
    line-height: 13px !important;
    height: 14px !important;
    margin-top: 4px !important;
}

[data-gstr8Section="TCS"],
[data-gstr8Section="TCSA"],
[data-gstr8Section="URD"],
[data-gstr8Section="URDA"] {
    font-weight: bold !important;
}

[data-countClr="G"] {
    color: #00ff00;
}

[data-countClr="R"] {
    color: #ff0000;
}

.fontSize12 {
    font-size: 12px !important;
}

.yellowBackground {
    background-color: #ffe600 !important
}

.badgeLabel {
    background-color: red !important;
    color: white !important;
    border-radius: 1rem !important;
    /*padding: 0.2rem 0.5rem !important;*/
    position: relative !important;
    top: -5px !important;
    right: 21px !important;
    font-size: 0.75rem !important;
}

.fontSize25 {
    font-size: 2rem;
    font-weight: bold;
    /* This ensures the text is bold */
}

.customMessageBox .sapMDialogTitle {
    color: red !important;
    /* Change title color to red */
    font-weight: bold !important;
    /* Make title bold */
}

.msgBoxSize {
    max-width: 45rem !important;
}

.sapUiIcon:focus {
    outline-style: initial !important;
}

.sapMLnk {
    color: #2e2e38 !important;
}

.iconMarginTop {
    margin-top: 2px !important;
}

.sapMSltArrow {
    background: #2e2e38 !important;
    color: white !important;
}

.sapMSLITitleOnly,
.sapMSLIDescription,
.sapMSLIDescriptionText {
    white-space: pre-wrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.sapMSelectListItemBaseSelected {
    background: #c4c4cd !important;
}

.sapMInputBaseIcon {
    color: white;
    background-color: #2e2e38;
}

.sapMITBFilterDefault {
    color: #2e2e38 !important;
    border-color: #2e2e38 !important;
}

.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected .sapMITBText,
.sapMSegB .sapMSegBBtn .sapMSegBBtnInner,
.sapMCbBg.sapMCbMarkChecked:before {
    color: #2e2e38 !important;
}

.sapMInputBaseIconPressed .sapMInputBaseIcon,
.sapMInputBaseIconPressed .sapMInputBaseIcon:hover {
    background: #2e2e38 !important;
}

.sapMITBSelected .sapMITBContentArrow {
    border-bottom-color: #2e2e38 !important;
}

.sapMLIB.sapMLIBSelected {
    background: #c4c4cd !important;
}

.clEntity.sapMPopover {
    left: calc(100% - 22rem) !important;
}

.sapFAvatarFocusable:focus {
    outline: 0.15rem dotted yellow !important;
}

.cl_dpScrollRecon.sapFDynamicPage {
    position: absolute !important;
    height: 95% !important;
}

.ReconResponce {
    position: absolute !important;
    height: 95% !important;
}

.toolbarRating {
    height: 4rem !important;
}

.cl_dpScrollRecon .sapMObjStatus {
    font-weight: bold !important;
}

.cl_dpScrollRecon .sapMObjStatusInformation .sapMObjStatusText {
    color: #0000ff !important;
}

html.sap-desktop .sapFDynamicPage.sapFDynamicPageWithScroll .sapFDynamicPageFooter .sapFDynamicPageActualFooterControl {
    right: 12px;
    background-color: #fafafa !important;
}

.contentAlign {
    text-align: center !important;
}

html.sap-desktop .sapContrast .sapMIBar.sapMFooter-CTX,
html.sap-desktop .sapContrast.sapMIBar.sapMFooter-CTX {
    background-color: #2e2e38 !important;
    border-top: 1px solid #2e2e38 !important;
}

.sapMIBar-CTX .sapMBtnInner,
.sapMBar .sapMBtnInner,
.sapMHeader-CTX .sapMBtnInner,
.sapMFooter-CTX .sapMBtnInner {
    /*background: transparent;*/
    /*border-color: transparent;*/
    background-color: #fff !important;
    border-color: #2e2e38 !important;
    color: #2e2e38 !important;
}

.sapMIBar-CTX.sapMBtnInner.sapMBtnEmphasized:hover,
.sapMIBar-CTX.sapMBtnInner.sapMBtnEmphasized:focus {
    background-color: #2e2e38 !important;
    border-color: #2e2e38 !important;
    color: #fff !important;
}

.sapMIBar-CTX .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: #2e2e38 !important;
    border-color: #2e2e38 !important;
    color: #fff !important;
}

.sapMSwtOn:not(.sapMSwtAcceptReject) {
    background: #2e2e38;
    border-color: #2d5475;
}

.bacCol {
    background-color: #2e2e38 !important;
}

.Text.sapMLabel {
    color: #fff !important;
}

.logoText.sapMLabel {
    color: white !important;
    /*font-size: 1.5rem !important;*/
    margin-top: 4px !important;
}

html.sap-desktop .sapMToggleBtnPressed,
.sapMToggleBtnPressed:not(.sapMBtnDisabled) {
    background-color: #1c1c1c;
    border-color: #ffffff;
}

.btnClr:focus {
    outline: 0.15rem solid #0056b3 !important;
}

.btnClr .sapMBtnInner:hover,
.btnClr .sapMBtnInner:focus {
    background-color: #2e2e38 !important;
    border-color: #2e2e38 !important;
    color: #fff !important;
}

.btnClr>.sapMBtnHoverable:hover {
    background-color: #1a1a24 !important;
    color: #000000 !important;
}

.sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi,
.sapMIBar-CTX .sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi {
    color: #fff;
}

.sapMBtn:hover>.sapMBtnHoverable.sapMToggleBtnPressed:not(.sapMBtnActive),
.sapMBtn .sapMBtnHoverable.sapMToggleBtnPressed:hover {
    background-color: #ebebeb;
    border-color: #ababab;
}

html.sap-desktop .sapMToggleBtnPressed,
.sapMToggleBtnPressed:not(.sapMBtnDisabled) {
    background-color: #000000;
    border-color: #000000;
}

.sapContrast.sapFDynamicPageFooter .sapFDynamicPageActualFooterControl,
.sapContrast .sapFDynamicPageFooter .sapFDynamicPageActualFooterControl {
    background: #2e2e38 !important;
    color: #fafafa;
    box-shadow: 0 0.125rem 0.5rem 0 rgb(0 0 0 / 20%), 0 0 0 1px rgb(255 255 255 / 20%);
    border-bottom: 0 none;
}

.sapMITH {
    background-color: #fafafa !important;
    border-bottom: 0.125rem solid #fafafa !important;
}

.sapMITH {
    box-shadow: inset 0 -0.25rem 0 -0.125rem #E7E7EA !important;
    position: relative;
}

.sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent {
    padding: 1rem 3rem;
    box-shadow: 0 0.125rem 0 0 #E7E7EA, inset 0 -0.125rem 0 0 #f6f6fa !important;
}

.sapFDynamicPage.sapFDynamicPageTitleClickEnabled .sapFDynamicPageTitle:hover,
html.sap-desktop .sapFDynamicPage.sapFDynamicPageTitleClickEnabled.sapFDynamicPageTitleForceHovered .sapFDynamicPageTitle {
    background-color: #e7e7ea !important;
}

.sapFDynamicPageTitle {
    z-index: 3;
    position: relative;
    min-height: 3rem;
    padding: 0.5rem 2rem 0.5rem 3rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-sizing: border-box;
    background: #e7e7ea !important;
}

.sapFDynamicPage .sapFDynamicPageToggleHeaderIndicator.sapMBtn>.sapMBtnInner {
    border: none;
    background-color: #e7e7ea !important;
}

.sapFDynamicPageHeader {
    z-index: 2;
    position: relative;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    background: #f6f6fa !important;
}

.sapMSegBBtn:first-child {
    border-top-left-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
}

.sapMSegBBtn:last-child {
    border-top-right-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}

.sapMSegB {
    border-top-left-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}

.sapMSegBBtn.sapMSegBBtnSel .sapMSegBBtnInner {
    background-color: #ffe600 !important;
    border-color: #3a3a4a !important;
    color: #2e2e38 !important;
    /*border-color: #427cac;*/
}

.sapMSegBBtn.sapMSegBBtnSel .sapMSegBBtnInner:hover,
.sapMSegBBtn.sapMSegBBtnSel .sapMSegBBtnInner:focus {
    background-color: #2e2e38 !important;
    border-color: #2e2e38 !important;
    color: #fff !important;
}

.sapMSegBBtnDis.sapMSegBBtnSel>.sapMSegBBtnInnerWrapper>.sapMSegBBtnInner {
    background-color: #c4c4cd !important;
    opacity: 1;
}

.sapMRbSel .sapMRbBInn {
    fill: black !important;
}

.sapMRbB .sapMRbBInn {
    r: 28% !important;
}

.cl_refresh .sapMBtnIcon {
    color: white !important;
}

.buttoncolor .sapMBtnInner {
    background-color: #ffe600 !important;
    border-color: #ffe600 !important;
    color: #2e2e38 !important;
    border-radius: 0rem !important;
    text-shadow: 0 0 black;
}

.buttoncolor .sapMBtnInner:hover,
.buttoncolor .sapMBtnInner:focus {
    background-color: #2e2e38 !important;
    border-color: #2e2e38 !important;
    color: #fff !important;
    text-shadow: 0 0 black;
}

.buttoncolor .sapMBtnIcon:hover,
.buttoncolor .sapMBtnIcon:focus {
    color: #fff !important;
}

.HomeCSS {
    background-color: #1a1a24 !important;
    color: #000000 !important;
    border-bottom: 0.15rem solid #ffe600;
}

.buttoncolorSec .sapMBtnInner {
    background-color: #fff !important;
    border-color: #2e2e38 !important;
    color: #2e2e38 !important;
    border-radius: 0rem !important;
    text-shadow: 0 0 black;
}

.sapMIBar .sapMBtnInner {
    border-radius: 0rem !important;
}

.buttoncolorSec .sapMBtnInner:hover,
.buttoncolorSec .sapMBtnInner:focus {
    background-color: #2e2e38 !important;
    border-color: #2e2e38 !important;
    color: #fff !important;
    text-shadow: 0 0 black;
}

.buttoncolorSec .sapMBtnIcon:hover,
.buttoncolorSec .sapMBtnIcon:focus {
    color: #fff !important;
}

.buttoncolorSec .btnClr:hover>.sapMBtnHoverable {
    /*background-color: #1a1a24 !important;*/
    color: #fff !important;
}

.sapMMenuBtn.sapMMenuBtnRegular .sapMBtnInner::hover {
    color: #fff;
}

span.sapMBtnInner.sapMBtnEmphasized {
    background-color: #fff !important;
    border-color: #2e2e38 !important;
    color: #2e2e38 !important;
    text-shadow: 0 0 0rem rgb(0 0 0 / 0%) !important;
}

span.sapMBtnInner.sapMBtnEmphasized:hover,
span.sapMBtnInner.sapMBtnEmphasized:focus {
    background-color: #2e2e38 !important;
    border-color: #2e2e38 !important;
    color: #fff !important;
}


.clCheckBoxText .sapMLabel {
    font-weight: bold !important;
}

.cl_shadow.sapUiBlockLayoutBackgroundDashboard .sapUiBlockCellContent {
    margin-top: 0.25rem;
}

.clTitleMarginTop {
    margin-top: 5px !important;
}

.submitStatsClr {
    color: black !important;
}

.getGSTR6Asummary .sapMPanelContent {
    padding: 0px !important;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}

.classgstr11 {
    color: #2c8dde !important;
    font-size: 1.1rem;
}

.blueColor {
    color: #0187f7;
}

.font15 {
    font-size: 1.2rem;
    color: #191919;
}

.italicFont {
    font-style: italic;
    font-weight: bold;
}

.BlkCol {
    color: #000
}

.orgCol {
    color: #D68910
}

.listMargin {
    margin-left: 1rem;
    width: calc(100% - 1rem) !important;
}

.clTextSize8 {
    font-size: 1rem !important;
}

.clTextSize50 {
    font-size: 0.60rem !important;
}

.clTextSize1 {
    font-weight: bold !important;
}

.clMDIntiatRecon {
    height: 88% !important;
}

.clVerticalLayoutColor {
    background-color: #fafafa;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 10px;
}

.fontSize {
    font-size: large !important;
}

.panelColor {
    width: calc(100% - 1rem) !important;
    border-radius: 5px;
}

.TotLabel {
    font-size: 1.6rem !important;
    color: #3b4468 !important;
    font-weight: 700 !important;
}

.gstrBox {
    background: aliceblue !important;
    box-shadow: 2px 2px 3px 0px #A9A9A9 !important;
}

.size1 {
    font-size: 2.5rem !important;
}

.gstrBox1 {
    background: #ffe600 !important;
    box-shadow: 2px 2px 3px 0px #A9A9A9 !important;
    border-radius: 50% !important;
    height: 78px !important;
    width: 78px !important;
}

.panColor {
    border: 2px solid #dddddd !important;

    background-color: white !important;
    box-shadow: 2px 2px 3px 0px #a9a9a9 !important;
}

.panColor1 {
    border: 2px solid #dddddd;
    border-radius: 6px;
    background-color: #ebebeb;
    box-shadow: 2px 2px 3px 0px #a9a9a9;
}

.actionColor,
.colorT1,
.colorT2,
.colorT3,
.colorT4,
.colorT5,
.colorT6 {
    padding: 2px !important;
    border-radius: 5px;
    height: 4.5rem;
    box-shadow: 2px 2px 3px 0px #A9A9A9;
}

.actionColor {
    border: 1px solid #dddddd;
    background-color: white;
}

.supplToolbarCol .sapMLabel {
    color: black;
}

.supplToolbarColInAnx2 {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.supplToolbarColInAnx2 .sapMLabel {
    color: #000;
    font-size: 1.2rem
}

.fontSize09>* {
    font-size: 0.9rem !important;
}

.cbColorBlue>* {
    color: #155cb4 !important;
}

.cl_ToolPGroup {
    padding: 1.5rem;
}

.clBlockLayout1 .sapUiBlockCellContent {
    /* border-radius: 5px !important;*/
    /*box-shadow: 2px 2px 2px 1px #dddddd;*/
    /*box-shadow: 2px 2px 3px 0px #A9A9A9;
    margin: 0.5rem;
    border: 1px solid #dddddd;*/
    /* box-shadow: inset 2px 0px 0 0rem #eff4f9, 3px 4px 0 0 #e5e5e5; */
}

.colorToolbar {
    background-color: #fafafa !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.colorRating {
    background-color: #ebebeb;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.colorRating1 {
    background-color: #a0b2c154;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.colorRating2 {
    background-color: #d4e2ee;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.colorRating3 {
    background-color: #e9f4e9;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.titleFont {
    color: #333333;
}

.layoutBorder {
    border-right: 1px solid #b7a8a8;
    height: 100%;
}

.timeColor {
    color: #ffffff;
    font-size: 0.8rem;
}

.cl_vizHeig {
    height: calc(12.7rem - 0px) !important;
    width: 100% !important;
}

.cl_flexBCol {
    margin-top: 1.5rem !important;
}

.colorT1 {
    background-color: #81C784;
}

.fontBoldLarge {
    font-size: 2rem;
    color: white;
}

.colorT2 {
    background-color: #FFB74D;
}

.colorT3 {
    background-color: #f05f5fe8;
}

.colorT4 {
    background-color: #ACDF87;
}

.colorT5 {
    background-color: #F4D03F;
}

.cl_rejectCol {
    background-color: #f93838ad !important
}

.colorT6 {
    background-color: #3498DB;
}

.colorT6 .sapMText {
    color: white !important;
}

.cl_noActn .sapMText {
    color: white !important;
}

.cl_noActn {
    background-color: cadetblue;
}

.stateColor {
    color: #666666de;
    margin-top: 2px;
}

.txtColor {
    margin-top: 2px;
    margin-bottom: 3px;
    color: black;
}

.cl_TextBgColor1 {
    font-weight: bold;
    background-color: #caca14;
    color: white;
    padding: 0.9rem;
    height: 3.5rem;
    font-size: x-large;
    border-radius: 5rem !important;
}

.cl_TextBgColor2 {
    font-weight: bold;
    background-color: cadetblue;
    color: white;
    padding: 0.9rem;
    height: 3.5rem;
    font-size: x-large;
    border-radius: 5rem !important;
}

.cl_menu.sapMMenuBtn.sapMMenuBtnRegular .sapMBtnInner {
    background: white;
    color: black;
}

.cl_TextBgColorDash {
    font-weight: bold;
    background-color: cadetblue;
    color: white;
    padding: 0.9rem;
    height: 3.5rem;
    font-size: x-large;
    border-radius: 5rem !important;
}

.cl_TextBgColorDash {
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 1.3rem;
    height: -1rem;
    font-size: smaller;
    border-radius: 40rem !important;
}

/*.......end of home.*/

/* Dash Board */
.toolbar1 {
    background: #3b4468;
}

.btnClr .sapMBtnContent {
    color: white;
}

.btnClr.sapMMenuBtn.sapMMenuBtnRegular .sapMBtnInner::after {
    color: white;
}

.blink {
    animation: blinker 3s linear infinite;
    color: #1c87c9;
}

.cl_refresh .sapMBtnIcon {
    color: white !important;
}

.custHeight {
    height: calc(100% - 6.2rem) !important;
}

.clFlexBox,
.custTitleColor {
    background-color: #d3d3d3
}

.clDataTimeText {
    font-style: italic
}

.clFlexBox1 .sapMFlexBoxWrapNoWrap {
    border-bottom: 1px solid #fff
}

.verticalLayout {
    text-align: center
}

.verticalLayout1 {
    border-left: 1px solid #fff
}

div[id*=itfDataStatus]>div[class=sapMITBContentArrow],
div[id*=itfSaveToGSTN]>div[class=sapMITBContentArrow],
div[id*=itfSubmitFile]>div[class=sapMITBContentArrow],
div[id*=itfSummary]>div[class=sapMITBContentArrow] {
    height: 1.6rem !important
}

td[id*=idASPCol],
td[id*=idDiffCol],
td[id*=idERPCol],
td[id*=idEYCol],
td[id*=idGSTNCol] {
    border-bottom: 1px solid #ddd
}

.custTitle {
    margin-top: 4px
}

div[id*=tabData3-rowsel0]:after {
    visibility: hidden
}

div[id*=tabDataAPI-rowsel0]:after {
    visibility: hidden
}

.sapFDynamicPageContent,
.sapFDynamicPageContentFitContainer {
    position: relative !important;
    padding: 1rem .5rem 0 !important;
}

.clMain {
    margin-top: -2rem !important
}

.redLabel {
    color: #ff0000 !important;
}

.redText {
    color: #ff0000 !important;
    font-weight: bold;
    font-size: 1.3rem;
}

.lasrow {
    color: red;
}

.cl_DelToolBar.sapMTBStandard,
.cl_borderBOTTOM.sapMTBStandard,
.cl_removeBoderTool.sapMTBStandard,
.cl_toolBarBorder.sapMTBStandard {
    border-bottom: 0 solid #ccc
}

.cl_OutLab {
    font-size: x-large
}

.cl_OutLab,
.cl_saveHeader .sapMTitle {
    font-weight: 700
}

.clBlockLayoutTax {
    margin: 10px !important;
    padding: .2rem !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 3px 1px #ddd !important
}

/*BOC by Rakesh on 15-01-2020*/
.clBlockLayout .sapUiBlockCellContent {
    font-weight: 400;
    color: #333;
    padding: 0 !important;
    font-size: 1rem;
    margin: 8px !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 3px 1px #ddd !important
}

.clBlockLayout .sapMTB {
    height: 2rem !important;
    background-color: #ebebeb !important
}

.clTextColorHedder {
    color: #346187 !important
}

/*Added by Ram on 12-02-2020*/
.cl_toolbar {
    padding: 0rem;
    height: 4rem !important;
}

.cl_star1 {
    color: #bb0000 !important;
    margin-right: 0.1rem;
}

.cl_star {
    color: #bb0000 !important;
    margin-left: 0.1rem;
}

.clBlack {
    color: #000
}

.clrBlue {
    color: #0187f7
}

.clDataStatusAPI .sapFDynamicPageContent,
.sapFDynamicPageContentFitContainer {
    position: relative !important;
    padding: 0rem 0rem 0 !important;
}

.linkhstyle {
    color: #000
}

.cl_TextBgColor3 {
    color: red;
    margin-left: 11rem !important;
    font-weight: 700 !important
}

.fontBoldLarge {
    font-size: 2rem;
    color: #000
}

.fontBoldLargeb {
    font-size: 1rem;
    color: #000
}

.fonttypeLabel {
    font-style: italic
}

.layoutBorder,
.layoutBorder2 {
    border-right: 1px solid #b7a8a8;
    height: 100%
}

.supplToolbarInAnx2 {
    background: #ebebeb;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.Fontstyle {
    font-size: 0.8rem !important;
    font-style: italic !important;
}

.redLabel1 {
    color: #ff0000 !important;
    font-size: 0.8rem !important;
    font-style: italic !important;
}

.cl_gstButtn {
    margin-bottom: 1rem;
}

.cl_bdc {
    height: 3.7rem !important;
}

.dsblDwnLoad {
    opacity: 0.5;
}

.boldFont {
    font-weight: bold;
}

.cl_BtnRat {
    margin-top: -0.5rem !important;
}

.cl_colorRed {
    color: red !important;
}

.cl_colorBlue {
    color: #427cac !important;
}

.cl_Bold {
    font-weight: bold;
}

.redclr {
    color: #B22222
}

.violetclr {
    color: #04adb2
}

.greenclr {
    color: #228B22
}

.OrangeClr {
    color: #FF8C00
}

.purpleClr {
    color: #9400D3
}

.cl_check {
    margin-top: -0.5rem;
}

.clCheckBoxText .sapMCbLabel {
    font-weight: bold !important;
}

.cldate {
    margin-top: -1.1rem;
}

/*Addedby Rakesh on 1.08.2020 ---- GSTR-3B Auto Calculate*/
.clMain1 {
    margin-top: -2rem !important
}

.sapMITBSelected .sapMITBFilterDefault {
    background: #2e2e38 !important;
    color: #fff !important;
}

/*Addedby sarvmangla on 2.09.2020 ---- SAVE TO GSTIN btn*/
.clsavetogstinbtn {
    margin-bottom: 1rem;
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: 0px solid #cccccc;
}

.cl_backRatio3 {
    background-color: #ebebeb9c !important;
}

.sapMITBContent {
    padding: 0rem !important;
}

.sapUiView {
    display: block;
}

.cl_popupCheck .sapUiTableCell.sapUiTableHeaderCell {
    border-bottom: none;
    height: 2.5rem;
}

.clOther .sapMITBVertical {
    height: 6rem;
}

.titleFontEinv {
    color: #2e2e38 !important;
}

.cltabLayout .sapMPanelContent {
    padding: 0rem !important;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}

.toolbarbot {
    border-bottom: 0 solid #fafafa;
}

.cl_DynamicTitle.sapFDynamicPageTitle {
    min-height: 1rem !important;
    padding: 0rem 2rem 0rem 3rem !important;
}

.cl_ContentPad>.sapFDynamicPageContentWrapper>.sapFDynamicPageContent,
.sapFDynamicPageContentFitContainer {
    padding-top: 0rem !important;
    padding-bottom: 0px !important;
}

/*//================= Added by chaithra for 2BvsPR and 2AvsPR color ===================//*/
.cl_2BPR.sapMText {
    color: #427cac !important;
}

.cl_2APR.sapMText {
    color: #333333 !important;
}

.checkBoxHideBorder .sapMInputBaseContentWrapper {
    border: 0px solid #bfbfbf !important;
    background: #ffffff !important;
}

.cl_toolbar1.sapMTBStandard {
    border-bottom: 0px solid #cccccc !important;
}

.cl_NoteText {
    font-style: italic;
    font-size: 0.7rem !important;
}

.cl_TabRowHeight.sapMListTblRow {
    height: 4rem !important;
}

.cl_LabelSize {
    font-size: 1rem !important;
}

/*//================= Added by sarvmangla for GSTR1 dropdown width ===================//*/
.cl_dropgstr1.sapMMenuBtn {
    display: inline-block;
    max-width: 15rem;
}

.size2 {
    font-size: 1.2rem !important;
}

.gstrBox2 {
    background: yellow !important;
    box-shadow: 2px 2px 3px 0px #A9A9A9 !important;
    border-radius: 50% !important;
    height: 38px !important;
    width: 38px !important;
}

.TotLabel2 {
    font-size: 1rem !important;
    color: #3b4468 !important;
    /*font-weight: 700 !important;*/
}

.sapMTBSeparator {
    width: 0.2rem;
    height: 5rem;
    background: #1100;
    /* background: rgba(63,81,97,0.2); */
}

/* Added by chaithra for GSTR9*/
.cl_RowHeading {
    font-weight: Bold !important;
    font-size: 0.9rem !important;
}

.Toolbarmargin.sapMTBStandard {
    border-bottom: 0px !important;
}

.HomeCSS {
    /*background-color: #418ac7 !important;*/
}

.toolbar2 {
    background: #fafafa !important;
}

.btnClr2 .sapMBtnContent {
    color: black;
    font-weight: Bold !important;
}

.btnClr2.sapMMenuBtn.sapMMenuBtnRegular .sapMBtnInner::after {
    color: black;
}

.btnClr3 .sapMBtnContent {
    color: #fafafa;
    font-weight: Bold !important;
}

.btnClr3sapMMenuBtn.sapMMenuBtnRegular .sapMBtnInner::after {
    color: #fafafa;
}

.clPanelMargin.sapUiRespGrid.sapUiRespGridVSpace1>div {
    margin-bottom: 0rem !important;
}

.cl_ToolbarColor {
    background: #ebebeb !important;
}

.cl_ToolbarColor1 {
    background: black !important;
}

.cl_textColor {
    color: #333333 !important;
}

/*######################## SAC Dashboard #########################*/
.cl_Contentpading.sapUiBlockLayoutSizeXL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellContent {
    padding: 0;
    font-size: 1rem
}

.cl_Contentpading1.sapUiBlockLayoutSizeXL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellContent {
    padding: 0;
}

.cl_blockBg .sapUiBlockCellContent {
    background: #fafafa
}

.cl_blockBgIN .sapUiBlockCellContent {
    background: 0 0
}

.cl_textNumber {
    font-size: x-large;
    font-weight: bold;
    color: #495e70 !important;
}

.cl_toolbarstate.sapUiSizeCompact .sapMTB {
    height: 3rem !important
}

.cl_Blockout.sapUiBlockLayoutCell {
    height: 7.4rem
}

.cl_vizHeigDonut {
    /*height: calc(38rem - 0px);*/
    width: 100% !important
}

.cl_vizHeig1 {
    height: calc(32rem - 0px) !important;
    width: 100% !important
}

.cl_vizHeig2 {
    height: calc(25rem - 0px) !important;
    width: 100% !important
}

.colorToolbar1 {
    background-color: #eff4f9;
}

.title {
    font-weight: Bold;
    font-size: large;
}

.cl_Blockout1.sapUiBlockLayoutCell {
    height: 5rem
}

.cl_Blockout2.sapUiBlockLayoutCell {
    height: 25rem
}

.cl_blockBg1 .sapUiBlockCellContent {
    background: #e5e5e5 !important;
}

.cl_toolbarstate.sapUiSizeCompact .sapMTB {
    height: 3rem !important
}

.cl_VboxBorder {
    padding: .2rem !important;
    border-radius: 5px !important;
    /*border: 0.11rem solid #fabd64 !important;*/
    height: 8rem !important;
    box-shadow: 4px 4px 6px 2px #A9A9A9 !important;
    border: 1px solid #fabd64 !important;
    background-color: white;
}

.ufUpload {
    width: calc(100% - 0.5rem) !important;
}

.fontSize {
    font-size: medium !important;
}

.feedbackFont,
.cbFontSize>* {
    font-size: 1rem !important;
}

.clSwitch>.sapMSwtOn:not(.sapMSwtAcceptReject) {
    background: #fff !important;
}

.clSwitch .sapMSwtOff .sapMSwtHandle,
.clSwitch .sapMSwtOn .sapMSwtHandle {
    background-color: #188ce5 !important;
    border-color: #188ce5 !important;
}

.clSwitch .sapMSwt.sapMSwtHoverable:hover {
    background: #ebebeb !important;
}

.sapUiSizeCompact .clSwitch>.sapMSwt {
    height: 1.2rem !important;
    margin: 0.3rem !important;
}

.btnDownload {
    width: calc(100% - 1.5rem);
}

.dpTitlePadding {
    padding-top: 5px !important;
}

.txtAreaEmail,
.txtAreaEmail>.sapMInputBaseDisabledWrapper {
    opacity: 1 !important;
    background-color: white !important;
}

.redLink {
    color: red !important;
}

.ledger19.sapMMenuBtn {
    max-width: 19rem !important;
}

[data-mismatch="Unavailable"],
[data-mismatch="Invalid"],
[data-mismatch="R"] {
    color: #ff0000;
}

.customDialogOnTop {
    z-index: 1000 !important;
}

.boldCheckBoxText .sapMCbLabel {
    font-weight: bold !important;
}

.sapMMultiComboBoxItem[data-listDisable="T"] {
    cursor: pointer;
}

.sapMMultiComboBoxItem[data-listDisable="F"] {
    color: gray;
    opacity: 0.5;
    cursor: default;
}

.sapMMultiComboBoxItem[data-listDisable="F"] .sapMCb {
    pointer-events: none;
    cursor: default;
}

.dialogFooterPagination {
    position: sticky !important;
    bottom: 0 !important;
    z-index: 1 !important;
    background: white !important;
}

[data-icon="D"] {
    cursor: initial !important;
    color: #333 !important;
    opacity: 0.5;
}

[data-icon="E"] {
    cursor: pointer !important;
    color: #333 !important;
}

.linkWhite {
    color: white !important;
}