/* Enter your custom styles here */

div[id*=idSummaryForm] div h5 {
    display: none
}

div[id*=tbGSTR],
div[id*=tbLedger] {
    border-bottom: 0 solid #ccc
}

.columnLine,
td[id*=idASPCol14],
td[id*=idASPCol15],
td[id*=idASPCol16],
td[id*=idASPCol111],
td[id*=idASPCol121],
td[id*=idASPCol131],
td[id*=idASPCol141],
td[id*=idASPCol151],
td[id*=idASPCol161],
td[id*=idGSTNCol],
td[id*=idERPCol],
td[id*=idDiffCol],
td[id*=idEYCol],
td[id*=idASPCol],
td[id*=idASPCol11],
td[id*=idASPCol12],
td[id*=idASPCol13] {
    border-bottom: 2px solid #ddd
}

.sapMITBFilter .sapMITBText,
div[id*=itDraftELExtract],
div[id*=itGSTINDetails],
div[id*=itHierarchy],
div[id*=itMakerChecker],
div[id*=itUserCreation],
div[id*=itUserMapping],
div[id*=itERPMapping],
div[id*=itEINVCnnfig],
div[id*=itHistory],
div[id*=itProductMaster],
div[id*=itItemMaster],
div[id*=itCustomerMaster],
div[id*=itVendorMaster],
div[id*=itFileUpload],
div[id*=itAppPermission1],
div[id*=itGroupPermission],
div[id*=itERPDetails],
div[id*=itCompanyCodeMapping],
div[id*=itScenarioPermissionStand],
div[id*=itScenarioPermissionAdvan],
div[id*=itServiceOptions],
div[id*=itMasterFileUpload],
div[id*=itFeedback] {
    width: 7.2rem
}

.clOnBoard .sapMITBVertical {
    height: 6rem;
}

.sapMITBFilter .sapMITBText {
    white-space: initial;
    width: 7rem
}

.sapFDynamicPageContent,
.sapFDynamicPageContentFitContainer {
    position: relative;
    padding: 0.5rem 1rem 0 1rem !important;
}

.sapMITBScrollContainer {
    display: block;
    margin: 0.5rem 1.75rem 0rem 1.75rem !important;
    padding: 0 1px;
}

.clHomepage {
    background-image: url("../images/onboarding.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #008bc7 !important;
    text-shadow: none;
}

.sapMITBHead {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    margin: 0rem !important;
    padding: 0 1px;
    vertical-align: top;
    font-size: 0.75rem;
}

.red {
    color: #bb0000;
    font-style: italic;
}

.blue1 {
    color: #427cac;
    font-style: italic;
}

.blue {
    color: #427cac;
}

.clVerticalLayout {
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 5px;
    width: Calc(100% - 2rem) !important;
    /* border: 1px solid #eaeaea; */
    box-shadow: 0px 0px 3px 3px rgb(236, 236, 236);
    border-radius: 3px;
}

.clPageFU .sapUiBlockLayoutSizeL:not(.sapUiBlockLayoutKeepFontSize) .sapUiBlockCellContent {
    padding: 0.2rem 3rem;
    font-size: 1rem;
}

.sapUiTableHeaderDataCell {
    border-bottom: 1px solid #dddddd !important;
}

tr#__component0---onboarding--idGridTable-rows-row0 {
    background-color: #fafafa
}

.clFlexBox,
.custTitleColor {
    background-color: #d3d3d3
}

.clDataTimeText {
    font-style: italic !important
}

.clFlexBox1 .sapMFlexBoxWrapNoWrap {
    border-bottom: 1px solid #fff !important
}

.verticalLayout1 {
    border-left: 1px solid #fff !important
}

.custTitle {
    margin-top: 4px
}

.clBlockLayoutCellTable .sapUiTableCnt {
    height: 29rem !important
}

.sapUiTableCol {
    border-right: 1px solid #ddd !important;
    border-Top: 1px solid #ddd !important
}

.clBLockLayout {
    height: 20rem !important
}

.sapMITBAll:first-Child>.sapMITBTab>.sapMITBCount {
    padding-left: 0;
    color: #000;
    font-weight: 700
}

.sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection:first-child:not(.sapUxAPObjectPageSectionNoTitle) {
    margin-top: 0
}

.sapUiTableColHdrTr>.sapUiTableCol {
    background-color: silver
}

.sapContrast.sapTntToolHeader.sapMTB,
.sapTntSideNavigationVerticalScrolling {
    background-color: #000
}

.sapContrast .sapTntNavLIItem {
    background-color: #333
}

.sapTntNavLIItem>.sapMText {
    color: silver
}

.sapContrast .sapTntNavLIGroup {
    border-bottom: 1px solid #666
}

.cellBottomBorder {
    border-bottom: 1px solid #ddd
}

.textBold {
    font-weight: 700
}

.verticalLayout {
    text-align: center
}